.version-history-modal .ant-table {
  font-size: 13px;
}

.version-history-modal .ant-table-thead > tr > th {
  font-weight: 600;
  background-color: #fafafa;
}

.version-history-modal .ant-table-tbody > tr:hover {
  background-color: #f5f5f5;
}

.version-history-modal .ant-descriptions-item-label {
  font-weight: 600;
  background-color: #fafafa;
}
